# SPDX-License-Identifier: GPL-2.0-only
config CRYPTO_DEV_NUCLEI
	tristate "Nuclei Cryptographic Engine through HSM"
	depends on OF
	depends on NUCLEI_MAILBOX
	select CRYPTO_ECB
	select CRYPTO_CBC
	select CRYPTO_DES
	select CRYPTO_AES
	select CRYPTO_SM4_GENERIC
	select CRYPTO_ENGINE
	select CRYPTO_LIB_DES
	select CRYPTO_MD5
	select CRYPTO_SHA1
	select CRYPTO_SHA256
	select CRYPTO_HASH
	select CRYPTO_SKCIPHER
	select CRYPTO_HMAC

	help
	  This driver interfaces with the nuclei hsm hardware crypto accelerator.
	  Supporting cbc/ecb chainmode, and aes/sm4 cipher mode.
